span {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 400;
  color: rgb(var(--color_primary));
}

.university-degree {
}

.card {
  background-color: #EEEFF6;
  border-radius: 1em;
  -webkit-box-shadow: inset 0 0 0 0.1em var(--middle_lavender);
  box-shadow: inset 0 0 0 0.1em var(--middle_lavender);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  height: 281px;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background: none;
  padding: 0;
  border: 0;
}

.card-specialty {
  color: rgb(var(--color_primary));
  font-weight: 700;
  font-size: 24px;
}

.card-university-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-detail-list {
  border-top: rgb(219,222, 236) 1px solid;
  color: rgb(var(--color_primary));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
}

li {
  display: flex;
  flex-direction: column;
}

.logo {
  border-radius: 50%;
}

.logo img {
  object-fit: cover;
  border-radius: 50%;
}
